#propertiesBoxDiv{
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  width: 25%;
  height: 20%;
  padding: 0.5em;
}

.propertiesTitle{
  margin: 0;
}

.propertiesRow{
  display:flex;
  justify-content: space-between;
}