#propertiesBoxDiv{
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  min-height: 20%;
}

.propertiesTitle{
  margin: 0;
}

.propertiesRow{
  margin-bottom: 0.2em;
  display:flex;
  justify-content: space-between;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

#propertiesBoxDiv > h5{
  padding-left: 0.75em;
}


.propertiesNumInput{
  width: 4em;
}