
#toolBarDiv{
  padding-top: 1em;
  padding-bottom: 1em;

  position: absolute;
  left: 0;
  top: 0;
  width: 20%;

  display: flex;
  flex-direction: column;
  background: #c4d840;
  border: 1px solid black;
}

.shapeDiv{
  border: 1px solid black;
  margin: 2px;
}

.shapeDiv:hover{
  cursor: pointer;
}